@import "sizes";

.ui.segment.chart {
  padding-left: 0;
}

.count-change-plus {
  color: green;
}

.count-change-minus {
  color: red;
}

.chart {
  @include breakpoint(all) {
    height: 450px;
  }
}