@import "_charting.scss";
@import "_footer.scss";

pre {
  font-size: inherit;
  color: inherit;
  border: initial;
  padding: initial;
  font-family: inherit;
  white-space: pre-line;
}

.app-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}