<article>
    <div class="ui stackable grid">
        <div class="row">
            <section class="six wide column">
                <h1 class="ui header">Description:</h1>
                <pre>
                Чат русскоязычного .NET сообщества
                http://dotnet.ru/

                Вам могут быть интересны: @dotnetchat, @cilchat, @fsharp_chat, @pro_net, @xamarin_russia, @microsoftstackjobs,  @uwp_ru

                Флуд в @dotnettalks
                </pre>
            </section>
            <section class="six wide column">
                <h1 class="ui header">Summary:</h1>
                <p>Total users: 123</p>
                <p>Active users in last three days: 123</p>
                <p>Change in the last week: 123</p>
            </section>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            <div class="wide column">${UsersCountGraph}</div>
        </div>
    </div>
</article>