<article>
    <div class="ui grid">
        <section class="six wide column">
            <h1 class="ui header">Description:</h1>
            <pre>
                Чат русскоязычного .NET сообщества
                http://dotnet.ru/

                Вам могут быть интересны: @dotnetchat, @cilchat, @fsharp_chat, @pro_net, @xamarin_russia, @microsoftstackjobs,  @uwp_ru

                Флуд в @dotnettalks
            </pre>
            <div>
                ${ActiveGraph}
            </div>
        </section>
        <section class="ten wide column">
            <h1 class="ui header">Stats:</h1>
            <div>${UsersCountGraph}</div>
            <div>${UniqueUsersGraph}</div>
            <div class="ui mini horizontal statistic">
                <div class="value">
                    ${ActiveCount}
                </div>
                <div class="label">
                    Active users today
                </div>
            </div>
        </section>
    </div>
    <div class="ui divider"></div>
</article>