<div class="body">
    <div class="app-content">
        ${Header}
        <div class="ui hidden divider"></div>
        ${ChatInfo}
        <div class="ui hidden divider"></div>
    </div>
    <footer class="ui inverted vertical footer segment">
        <address class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="wide column">
                    <a href="https://github.com/Liminiens/FunCombot" class="github-link"><i class="github big icon"></i>We on github</a>
                </div>
            </div>
        </address>
    </footer>
</div>