<div class="ui grid">
    <div class="row">
        <div class="five wide column">
            <div class="ui form">
                <div class="field">
                    <label>From:<input type="date" bind="${FromDate}" min="${FromDateMin}" max="${FromDateMax}"/></label>
                </div>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui form">
                <div class="field">
                    <label>To:<input type="date" bind="${ToDate}" min="${ToDateMin}" max="${ToDateMax}"/></label>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui form">
                <div class="field">
                    <div class="field">
                        <label>Unit:
                            <select bind="${SelectedUnit}">
                                ${Units}
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        ${Graph}
    </div>
</div>