<article>
    <div class="ui stackable grid">
        <div class="row">
            ${Description}
        </div>
        <div class="ui divider"></div>
        <section class="row">
            <div class="wide column">
                <section class="ui stackable grid">
                    <div class="row">
                        <div class="wide column">
                            <h2 class="ui header">User count stats</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="wide column">${UsersCountGraph}</div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</article>