<header class="ui inverted vertical segment">
    <div class="ui center aligned grid">
        <div class="twelve wide column">
            <nav class="ui stackable inverted menu">
                <div class="header item">
                    ${HeaderItem}
                </div>
                <div class="ui dropdown item">
                    Chats
                    <i class="dropdown icon"></i>
                    <div class="menu transition hidden">
                        ${DropdownItems}
                    </div>
                </div>
                <div class="item text">
                    ${ChatName}
                </div>
            </nav>
        </div>
    </div>
</header>