<div class="app-body">
    <div class="app-content">
        ${Header}
        <div class="ui hidden divider"></div>
        ${ChatInfo}
        <div class="ui hidden divider"></div>
    </div>
    <footer class="ui inverted vertical footer segment">
        <address class="ui centered grid">
            <div class="twelve wide column">
                <a href="https://github.com/Liminiens/FunCombot" class="github-link"><i class="github big icon"></i>We on github</a>
            </div>
        </address>
    </footer>
</div>