<div>
    ${Content}
    <template id="UsersTable">
        <table class="ui selectable striped celled padded table">
            <thead>
            <tr>
                <th>User</th>
                <th>Messages</th>
                <th>Stickers</th>
                <th>Media</th>
            </tr>
            </thead>
            <tbody>
            ${Users}
            </tbody>
        </table>
    </template>
    <template id="User">
        <tr>
            <td>${FirstName} - ${LastName} - ${Username}</td>
            <td>${MessageCount}</td>
            <td>${StickerCount}</td>
            <td>${MediaCount}</td>
        </tr>
    </template>
</div>