<div>
    <div class="ui grid">
        <div class="right floated two wide column">
            <div class="ui form">
                <div class="equal width fields">
                    <div class="field">
                        <label>Page size:
                            <select bind-onchange="${SelectedPageSize}">
                                <option value="50" selected>50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    ${Content}
    <template id="UsersTable">
        <table class="ui selectable striped celled padded sortable table">
            <thead>
            <tr>
                <th>User</th>
                <th>Messages</th>
                <th>Stickers</th>
                <th>Media</th>
            </tr>
            </thead>
            <tbody>
                ${Users}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="4">
                    <div class="ui relaxed centered grid">
                        <div class="column centered row">
                            <div class="ui pagination menu">
                                ${PagingControl}
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </template>
    <template id="User">
        <tr>
            <td>${FirstName} - ${LastName} - ${Username}</td>
            <td>${MessageCount}</td>
            <td>${StickerCount}</td>
            <td>${MediaCount}</td>
        </tr>
    </template>
</div>